#walrus-showing{
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

p{
  text-align: center;
}

img{
  margin-left: 50%;
  margin-right: 50%;
}